*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px solid red; */
}

/* not important */
.container{
    margin-top: 5%;
}

/* important */
.registration{
    width: 45%;
    display: inline-block;
    margin: 0% 4% 0% 4%;
}

/* important */
.login{
    width: 45%;
    display:inline-block;
    vertical-align: top;
}

/* important */
.login p{
    color: red;
    font-size: 14pt;
}

/* important */
button{
    float: right;
    box-shadow: 3px 3px black !important;
    border-radius: 0px !important;
}

.heading h3{
    display: inline-block;
}

.heading a{
    display: inline-block;
    float: right;
    margin-left: 15%;
    margin-bottom: 5%;
}

.heading{
    padding-bottom: 5% !important;
}

.recent_reviews{
    display: inline-block;
    width: 60%;
}

.pre-scrollable{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    float: right;
}

.show_book_review{
    display: inline-block;
    width: 60%;
}
.add_a_review{
    display: inline-block;
    width: 30%;
    margin-left: 5%;
    vertical-align: top;
}